<ion-view view-title="Time Line">
    <ion-content class="im-wrapper">
        <br>
        <div class="button-bar">
                <a class="button button-positive-900">NOW</a>
        </div>        
        <center><div class="code-wrapper">
            <a class="toggle">Co-Founder</a>
            <div class="code">
                I am Co-Founder of Amorous Inc.  Totally 3 members are co-founders in our company.They are Me, Vaishnavi and Priya.The Head of our company is Mr.Senthilkumar.Our services are developing mobile applications and web applications.
        	</div>
        </div></center>
        <div class="button-bar">
                <a class="button button-royal-900">Till May 2015</a>
        </div>       
        <center><div class="code-wrapper">
            <a class="toggle">B.Sc</a>
            <div class="code">
                I completed my B.Sc(Computer Science) degree in Thiagarajar College, Madurai.
            </div>
        </div></center>
         <div class="button-bar">
                <a class="button button-balanced-900">2012</a>
         </div>       
        <center><div class="code-wrapper">
            <a class="toggle">My Higher Secondary</a>
            <div class="code">
               I did my 12th std in ST.Joseph's Girls Higher secondary school,Madruai. I am a Tamil medium student. I scored 1080 mark out of 1200 in my 12th std.
            </div>
        </div></center>
         <div class="button-bar">
                <a class="button button-energized-900">2012</a>
         </div>       
        <center><div class="code-wrapper">
            <a class="toggle">My High School</a>
            <div class="code">
                I did my 10th std in ST.Joseph's Girls Higher secondary school,Madurai.I scored 455 mark out of 500 in my 10th std.
            </div>
        </div></center>
        <div class="button-bar">
                <a class="button button-assertive-900">2008</a>
        </div>        
        <center><div class="code-wrapper">
            <a class="toggle">Middle School</a>
            <div class="code">
                I completed my 8th std in R.C.Middle school,Madurai.
            </div></center>
        </div>
    </ion-content>
</ion-view>
